<form
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        magic="showlargeimage"
        class="showlargeimageProps"
    >
        <!-- <div style="display: flex; flex-direction: row">
            <div *ngIf="mg.isImageExists('image1')">
                <img
                    magic="image1"
                    class="image1Props"
                    [src]="mg.getImage('image1')"
                />
            </div>
            <div *ngIf="mg.isImageExists('image2')">
                <img
                    magic="image2"
                    class="image2Props"
                    [src]="mg.getImage('image2')"
                />
            </div>
            <div *ngIf="mg.isImageExists('image3')">
                <img
                    magic="image3"
                    class="image3Props"
                    [src]="mg.getImage('image3')"
                />
            </div>
            <div *ngIf="mg.isImageExists('image4')">
                <img
                    magic="image4"
                    class="image4Props"
                    [src]="mg.getImage('image4')"
                />
            </div>
        </div> -->
        <div class="row">
            <div class="column">
                <img
                magic="image1"
                class="image1Props"
                [src]="mg.getImage('image1')"
            />
            </div>
            <div class="column">
                <img
                magic="image2"
                class="image2Props"
                [src]="mg.getImage('image2')"
            />
            </div>
        </div>
        <div class="row">
            <div class="column">
                <img
                magic="image3"
                class="image3Props"
                [src]="mg.getImage('image3')"
            />
            </div>
            <div class="column">
                <img
                magic="image4"
                class="image4Props"
                [src]="mg.getImage('image4')"
            />
            </div>
        </div>
        </div>
        </form>