<div class="main-card edit-card EditTravelRequestEntries" magic="EditTravelRequestEntries">
  <form novalidate [formGroup]="screenFormGroup">
    <div class="main-card-photo-header BckPckImg" magic="BckPckImg" *ngIf="mg.isImageExists('BckPckImg')" [ngStyle]="{'background-image': 'url(' + mg.getImage('BckPckImg') + ')'}">

      <div class="picture-title-line">
        <label magic="DescriptionScreen" class="DescriptionScreen main-card-label">
          {{mg.getValue('DescriptionScreen')}}
        </label>
      </div>

      <div class="flight-dates">
        <label magic="DepartureDateScreen" class="DepartureDateScreen">
          {{mg.getValue('DepartureDateScreen')}}
        </label> -
        <label magic="ArrivalDateScreen" class="ArrivalDateScreen">
          {{mg.getValue('ArrivalDateScreen')}}
        </label>
      </div>
    </div>

    <div class="btn-line">
      <div *ngIf="mg.isImageExists('AddFlightImg')">
        <img magic="AddFlightImg" class="mgColor14 AddFlightImg hidden_border" [src]="mg.getImage('AddFlightImg')" />
      </div>
      <div *ngIf="mg.isImageExists('AddHotelImg')">
        <img magic="AddHotelImg" class="mgColor14 AddHotelImg hidden_border" [src]="mg.getImage('AddHotelImg')" />
      </div>
      <div *ngIf="mg.isImageExists('AddCarImg')">
        <img magic="AddCarImg" class="mgColor14 AddCarImgProps hidden_border" [src]="mg.getImage('AddCarImg')" />
      </div>
      <div *ngIf="mg.isImageExists('AddRestoImg')">
        <img magic="AddRestoImg" class="mgColor14 AddRestoImgProps hidden_border" [src]="mg.getImage('AddRestoImg')" />
      </div>
    </div>
  </form>

  <div class="bottom-pane">

    <div class="list-pane" magic="Group1048585">

      <div *ngFor="let row of task.Records.list" class="list-item">
        <div *ngIf="mg.ifRowCreated(row)" id="row">
          <form [formGroup]="mg.getFormGroupByRow(row.rowId)" class="TableEditRequestEntries_table_rowProps" [ngClass]="{ 'selected': mg.isRowSelected('TableEditRequestEntries', row.rowId)}">

            <div *ngIf="mg.isImageExists('flight')" class="flight-icon">
              <img magic="flight" [rowId]="row.rowId" class="flight hidden_border" [src]="mg.getImage('flight', row.rowId)" />
            </div>
            <div class="list-labels-wrapper">
              <label magic="RDescription" class="RDescription" [rowId]="row.rowId">
                {{mg.getValue('RDescription', row.rowId)}}
              </label>

              <label magic="bottomlabel" [rowId]="row.rowId" class="bottomlabel">
                {{mg.getValue('bottomlabel', row.rowId)}}
              </label>
            </div>

            <div *ngIf="mg.isImageExists('flightLogo')" class="airline-list-logo">
              <img magic="flightLogo" [rowId]="row.rowId" [title]="mg.getTitle('flightLogo', row.rowId)" class="flightLogo hidden_border"
                [src]="mg.getImage('flightLogo', row.rowId)" />
            </div>


            <div class="menu-wrapper">
              <label mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </label>
              <mat-menu #menu="matMenu">

                <label magic="BEdit" [rowId]="row.rowId" mat-menu-item>
                  <mat-icon>edit</mat-icon>
                <U>Edit</U>
                </label>

                <label magic="BDelete" [rowId]="row.rowId" mat-menu-item>
                  <mat-icon>delete</mat-icon>
                  <U>Delete</U>
                
                </label>
              </mat-menu>
            </div>

          </form>
        </div>
        
      </div>
    </div>
    
    <div class="info-pane">
        <magic-subform
            magic="SubCanvas"
            class="SubCanvasProps"
        >
        </magic-subform>
    </div>
  </div>

</div>
