/*this is a component css*/


img.AddCarImgProps {
  position: relative;
  top: 3px;
  margin-right: 14px;
}


img.AddRestoImgProps {
  position: relative;
  top: 3px;
  margin-right: 14px;
}

.TableEditRequestEntriesProps {
    height: 800px;
    overflow-y: scroll;
    border: lightskyblue solid 1px;
}

.TableEditRequestEntries_table_rowProps {
  display: flex;
  align-items: center;
}

.TableEditRequestEntries_table_rowProps:hover {
    background-color: white;
}

.selected {
    background: #F5F5F5;
}

.Group1048586Props {
    border: lightskyblue solid 1px;
}

.SubformDetailsProps {
    border: lightskyblue solid 1px;
}


.main-card {
  flex: 1;
  border-radius: 3px;
  /* box-shadow: 1px -2px 30px #5b5b5b; */
  box-shadow: 1px 1px 22.32px 1.68px rgba(6, 20, 40, 0.22);
  /* max-height: 721px; */
  overflow: auto;
  margin: 20px;
  max-width: 1600px;
  background-color: #f8f5f5;
}

.main-card.edit-card {
  display: flex;
  flex-direction: column;
}


.main-card-photo-header {
  height: 182px;
  /* background: red; */
  flex: 1;
  /* border: 2px solid red; */
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 7%;
  padding: 11px;
  display: flex;
  /* align-items: end; */
  /* justify-content: space-between; */
  flex-direction: column;
}


label.main-card-label {
  color: rgba(255, 255, 255, 0.85);
  font-size: 20px;/* Approximation due to font substitution */
  font-weight: 500;
  line-height: 24px;/* Approximation due to font substitution */
  text-align: right;
  /* position: absolute; */
  /* top: 50px; */
  /* left: 50px; */
  padding: 10px;
}


.picture-title-line {
  display: flex;
  justify-content: space-between;
}


.flight-dates {}

.flight-dates {
  color: #cecece;
  font-size: 16px;/* Approximation due to font substitution */
  font-weight: 400;
  line-height: 24px;/* Approximation due to font substitution */
  padding-left: 0px;
  margin-top: 50px;
  margin: 10px;
  /* border: 1px solid red; */
}

.flight-dates > label {
  margin-right: 5px;
}

.flight-dates > label:last-child {
  margin-left: 5px;
}

.btn-line {
  display: inline-flex;
  position: relative;
  bottom: 23px;
  left: 30px;
  flex: 1;
  /* border: 3px solid red; */
}

.bottom-pane {
  /* border: 3px solid red; */
  flex: 55;
  display: flex;
}

.list-pane {
  flex: 45;
  /* border: 3px solid greenyellow; */
  flex-direction: column;
  padding: 10px 10px 10px 20px;
  display: flex;
  min-width: 470px;
   height:350px;
  margin: 0em auto;
  background-color: #fff;
  border-radius: 4.2px;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
  
}

.info-pane {
  flex: 55;
  /* border: 3px solid blue; */
  display: flex;
  padding: 10px 30px 30px 40px;
}



.list-item:last-child {
  border-bottom: 0.5px solid #e6e6e6;
}
.list-item > div {
  width: 100%;
}
.list-item:last-child {}

.list-item {
  display: flex;
}
.list-item > div > form:hover, .list-item-form-selected {
  box-shadow: 0 0 5px #3e3e3e;
}

.list-item * {
  cursor: pointer;
}


.flight-icon {
  flex: 1;
  /* border: 1px solid red; */
  position: relative;
  top: 7px;
}


label.RDescription {
  flex: 110;
  /* border: 1px solid yellow; */
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: 500;
  color: black;
}


img.flightLogo {
  max-height: 50px;
  width: 110px;
}


.list-labels-wrapper {
  flex: 10;
  /* border: 1px solid greenyellow; */
  height: 100%;
  flex-direction: column;
  padding: 0px 10px 0px 20px;
  color: #777777;
  display: flex;
}


.airline-list-logo {
  /* border: 3px solid red; */
  height: 100%;
  align-items: center;
  flex: 4;
}

.list-menu .mat-menu-content.ng-trigger.ng-trigger-fadeInItems {}
