<form novalidate [formGroup]="screenFormGroup" class="Flight1 magic-container" magic="Flight1">
    
    <div class="top-details-title">

        <div style="display: flex; flex-direction: row; ">
            <div *ngIf="mg.isImageExists('AddFlightImg')" style="margin-left: 0px;">
                <img magic="AddFlightImg" class="AddFlightImgProps mgColor14" [src]="mg.getImage('AddFlightImg')" />
            </div>
            <label magic="SelectFlightL" class="SelectFlightLProps mgFont14 mgColor1" style="margin-top: 10px;">
                Flight Details</label>
        </div>
        <div style="display: flex;height:20px">
            <label magic="OriginL" class="OriginLProps mgFont14 mgColor16">
                Origin:</label>
        </div>
        <div style="display: flex; height:60px; ">
            <mat-form-field class="fromairportEditProps" style="width:150px;"> 
                <div>
                    <input matInput magic="fromairportEdit" formControlName="fromairportEdit" pattern="^.{0,6}$" alphadirective>
                    <div *ngIf="(screenFormGroup.get('fromairportEdit').dirty) && (
screenFormGroup.get('fromairportEdit').hasError('pattern')
)">
                        <p>{{ mg.getErrMsg('fromairportEdit') }}</p>
                    </div>
                </div>
            </mat-form-field> &nbsp; &nbsp;&nbsp; &nbsp;
            <mat-form-field class="airportNameFromProps mgFont15 mgColor14 hidden_border">
                <div>
                    <input matInput magic="airportNameFrom" formControlName="airportNameFrom" pattern="^.{0,30}$">
                    <div *ngIf="(screenFormGroup.get('airportNameFrom').dirty) && (
screenFormGroup.get('airportNameFrom').hasError('pattern')
)">
                        <p>{{ mg.getErrMsg('airportNameFrom') }}</p>
                    </div>
                </div>
            </mat-form-field>
        </div>
        <div style="display: flex; flex-direction: row; height:20px; ">
            <label magic="DestinationL" class="DestinationLProps mgFont14 mgColor16">
                Destination:</label>
        </div>
        <div style="display: flex; flex-direction: row">
            <mat-form-field class="toairportEditProps" style="width:150px;">
                <div>
                    <input matInput magic="toairportEdit" formControlName="toairportEdit" pattern="^.{0,6}$" alphadirective>
                    <div *ngIf="(screenFormGroup.get('toairportEdit').dirty) && (
screenFormGroup.get('toairportEdit').hasError('pattern')
)">
                        <p>{{ mg.getErrMsg('toairportEdit') }}</p>
                    </div>
                </div>
            </mat-form-field>&nbsp; &nbsp;&nbsp; &nbsp;
            <mat-form-field class="airportNameToProps mgFont15 mgColor14 hidden_border">
                <div>
                    <input matInput magic="airportNameTo" formControlName="airportNameTo" pattern="^.{0,30}$">
                    <div *ngIf="(screenFormGroup.get('airportNameTo').dirty) && (
screenFormGroup.get('airportNameTo').hasError('pattern')
)">
                        <p>{{ mg.getErrMsg('airportNameTo') }}</p>
                    </div>
                </div>
            </mat-form-field>
        </div>



        <div style="display: flex; flex-direction: column;">
            <div class="depar">
            <label magic="DepartureL" class="DepartureLProps mgFont14 mgColor16">
                Departure Date and Time:</label><br/>

            <mat-form-field class="fromdateEditProps mgFont15 mgColor1 hidden_border" style="width:130px; ">
                <input matInput [matDatepicker]="fromdateEdit" formControlName="fromdateEdit" magic="fromdateEdit" class="fromdateEditProps mgFont15 mgColor1 hidden_border">
                <mat-datepicker-toggle matSuffix [for]="fromdateEdit" *ngIf="mg.checkIsReadOnly('fromdateEdit')"></mat-datepicker-toggle>
                <mat-datepicker #fromdateEdit></mat-datepicker>
                
            </mat-form-field>  &nbsp;
           <mat-form-field class="fromdateTimeEditProps mgFont15 mgColor1 hidden_border" style="width:150px;">
                <div>
                    <input matInput type='time' step=1 magic="fromdateTimeEdit" formControlName="fromdateTimeEdit">
                    <div *ngIf="(screenFormGroup.get('fromdateTimeEdit').dirty) && (
screenFormGroup.get('fromdateTimeEdit').hasError('pattern')
)">
                        <p>{{ mg.getErrMsg('fromdateTimeEdit') }}</p>
                    </div>
                </div>
            </mat-form-field> 
            
            </div>
			<div class="arriv">
            <label magic="ArrivalL" class="ArrivalLProps mgFont14 mgColor16" style="height:20px;">
                Arrival Date and Time:</label><br/>

            <mat-form-field class="todateEditProps mgFont15 mgColor1 hidden_border" style="width:130px">
                <input matInput [matDatepicker]="todateEdit" formControlName="todateEdit" magic="todateEdit" class="todateEditProps mgFont15 mgColor1 hidden_border">
                <mat-datepicker-toggle matSuffix [for]="todateEdit" *ngIf="mg.checkIsReadOnly('todateEdit')"></mat-datepicker-toggle>
                <mat-datepicker #todateEdit></mat-datepicker>
            </mat-form-field>&nbsp;
			
            <mat-form-field class="todateTimeEditProps mgFont15 mgColor1 hidden_border" style="width:150px;">
                <div>
                    <input matInput type='time' step=1 magic="todateTimeEdit" formControlName="todateTimeEdit">
                    <div *ngIf="(screenFormGroup.get('todateTimeEdit').dirty) && (
screenFormGroup.get('todateTimeEdit').hasError('pattern')
)">
                        <p>{{ mg.getErrMsg('todateTimeEdit') }}</p>
                    </div>
                </div>
            </mat-form-field>
            </div>
        </div>
        <div style="display: flex; flex-direction: column">
           
                <div style="display: flex; flex-direction: row;">
                    <label magic="L_Flight" class="L_FlightProps mgFont14 mgColor16" style="height:20px">
                        Flight:</label><br/>
                </div>
                <div style="display: flex; flex-direction: row; height:60px;">
                   
                        <mat-form-field class="airlineProps">
                            <mat-select magic="airline" class="airlineProps" formControlName="airline">
                                <mat-option *ngFor="let o of mg.getItemListValues('airline');" [value]="o.index">
                                    {{o.displayValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                  
                </div>
        </div>
		<br>
        <div style="display: flex; flex-direction: row;margin-left: 200px">
            <button style="margin-right: 16px" mat-raised-button color="primary" magic="BSave" class="BSaveProps" [attr.disabled]="mg.isDisabled('BSave')">
                <span style="color:white">OK</span></button>
            <!-- <button style=" margin-right: 16px" mat-raised-button color="primary" magic="BCancel" class="BCancelProps" [attr.disabled]="mg.isDisabled('BCancel')">
                <span style="color:white">Cancel</span></button> -->
    
        </div>
        
    </div>
</form>