/*this is a component css*/


.top-details-title{
   max-width: 38em;
  padding: 1em 3em 2em 3em;
  margin: -0.6em auto;
  background-color: #fff;
  border-radius: 4.2px;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

}




.FlightInformationProps {}

.AddFlightImgProps {}

.SelectFlightLProps {
    color:#3f51b5;
    font-display: fallback;
    font-weight: bold;
}

.OriginLProps {
    color:#3f51b5;
    font-size: 18px;
}

.fromairportEditProps {
     color:gray;
    font-size: 16px;
    font-family: monospace;
}

.airportNameFromProps {
    color:gray;
     font-size: 16px;
    font-family: monospace;
}

.DestinationLProps {
       color:#3f51b5;
    font-size: 18px;
}

.toairportEditProps {
    color:gray;
    font-size: 16px;
    font-family: monospace;
}

.airportNameToProps {
    color:gray;
    font-size: 16px;
    font-family: monospace;
}

.DepartureLProps {
     color:#3f51b5;
    font-size: 18px;

}

.ArrivalLProps {
     color:#3f51b5;
    font-size: 18px;
   
}

.fromdateEditProps {
       color:gray;
    font-size: 18px;
    font-family: monospace;

    
}

.fromdateTimeEditProps {
       color:gray;
    font-size: 16px;
    font-family: monospace;
}

.todateEditProps {
        color:gray;
    font-size: 16px;
    font-family: monospace;
}

.todateTimeEditProps {
        color:gray;
    font-size: 16px;
    font-family: monospace;
}

.Grp2Props {
    border: lightskyblue solid 1px;
}

.L_FlightProps {
     color:#3f51b5;
    font-size: 18px;
}

.flightnumberEditProps {}

.classImgProps {}

.airlineProps {
            color:gray;
    font-size: 16px;
    font-family: monospace;
}

.BSaveProps {
    color:gray;
    font-size: 16px;
    font-family: monospace;
}
.mat-select-value-text{
    color:gray;
    font-size: 16px;
    font-family: monospace;
}