<form
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        magic="RestaurantInformation"
        class="RestaurantInformationProps mgColor14"
    >
        <div style="display: flex; flex-direction: row">
            <div *ngIf="mg.isImageExists('AddFlightImg')">
                <img
                    magic="AddFlightImg"
                    class="AddFlightImgProps mgColor14"
                    [src]="mg.getImage('AddFlightImg')"
                />
            </div>
            <label
                magic="SelectFlightL"
                class="SelectFlightLProps mgFont14 mgColor1"
            >
                Restaurant Details</label>
        </div>
        <div style="display: flex; flex-direction: row">
            <div>
                <mat-form-field class="fromairportCmbProps">
                    <mat-select
                        magic="fromairportCmb"
                        class="fromairportCmbProps"
                        formControlName="fromairportCmb"
                    >
                        <mat-option
                            *ngFor="let o of mg.getItemListValues('fromairportCmb');"
                            [value]="o.index"
                        >
                            {{o.displayValue}}
                            </mat-option>
                            </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="mg.isImageExists('classImg')">
                <img
                    magic="classImg"
                    [style.visibility]="mg.getVisible('classImg')"
                    class="classImgProps"
                    [src]="mg.getImage('classImg')"
                />
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <mat-form-field class="serviceAddressProps mgFont15 mgColor2 multiline">
                <div>
                    <textarea
                        matInput
                        magic="serviceAddress"
                        formControlName="serviceAddress"
                        pattern="^.{0,200}|m{0,200}$"
                    >
                        </textarea>
                        <div *ngIf="(screenFormGroup.get('serviceAddress').dirty) && (
screenFormGroup.get('serviceAddress').hasError('pattern')
)">
                            <p>{{ mg.getErrMsg('serviceAddress') }}</p>
                        </div>
                </div>
            </mat-form-field>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                magic="ReservationL"
                class="ReservationLProps mgFont14 mgColor16"
            >
                Reservation:</label>
        </div>
        <div style="display: flex; flex-direction: row">
            <mat-form-field class="fromdateEditProps mgFont15 mgColor1 hidden_border">
                <input
                    matInput
                    [matDatepicker]="fromdateEdit"
                    formControlName="fromdateEdit"
                    magic="fromdateEdit"
                    class="fromdateEditProps mgFont15 mgColor1 hidden_border"
                >
                    <mat-datepicker-toggle
                        matSuffix
                        [for]="fromdateEdit"
                        *ngIf="mg.checkIsReadOnly('fromdateEdit')"
                    ></mat-datepicker-toggle>
                        <mat-datepicker #fromdateEdit></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="RestoFromTimeProps mgFont15 mgColor1 hidden_border">
                <div>
                    <input
                        matInput
                        type='time'
                        step=1
                        magic="RestoFromTime"
                        formControlName="RestoFromTime"
                    >
                        <div *ngIf="(screenFormGroup.get('RestoFromTime').dirty) && (
screenFormGroup.get('RestoFromTime').hasError('pattern')
)">
                            <p>{{ mg.getErrMsg('RestoFromTime') }}</p>
                        </div>
                </div>
            </mat-form-field>
        </div>
        <div style="display: flex; flex-direction: row">
            <mat-card>
                <magic-subform
                    magic="RestoImgSubform"
                    class="RestoImgSubformProps"
                >
                    </magic-subform>
            </mat-card>
        </div>
		<br>
		<br>
        <div style="display: flex; flex-direction: row">
            <button
                mat-raised-button
                color="primary"
                magic="BSave"
                class="BSaveProps"
                [attr.disabled]="mg.isDisabled('BSave')"
            >
                Ok</button>
        </div>
        </div>
        </form>