/*this is a component css*/

.RestaurantInformationProps {
          max-width: 38em;
  padding: 1em 3em 2em 3em;
  margin: 0em auto;
  background-color: #fff;
  border-radius: 4.2px;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    
}

.Hoteld{
    color:#3f51b5;
    font-size: 18px;
}

.AddFlightImgProps {}

.SelectFlightLProps {
         color:#3f51b5;
    font-display: fallback;
    font-weight: bold;
    overflow: hidden;
}

.fromairportCmbProps {
     color:gray;
    font-size: 16px;
}

.classImgProps {}

.serviceAddressProps {
    color:gray;
    font-size: 16px;
}

.ReservationLProps {
       color:#3f51b5;
    font-size: 18px;
    overflow: hidden;
}

.fromdateEditProps {
  
   color:gray;
    font-size: 16px;
    width:100px;
  
}

.RestoFromTimeProps {
       color:gray;
    font-size: 16px;
    width:120px;
    
}

.RestoImgSubformProps {}

.BSaveProps {}