/*this is a component css*/

.RestaurantInformationProps {}

.AddFlightImgProps {}

.SelectFlightLProps {
    overflow: hidden;
}

.fromairportCmbProps {}

.classImgProps {}

.serviceAddressProps {}

.ReservationLProps {
    overflow: hidden;
}

.fromdateEditProps {}

.RestoFromTimeProps {}

.RestoImgSubformProps {}

.BSaveProps {}