<form
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        magic="SelectFile"
        class="SelectFileProps"
    >
        <div style="display: flex; flex-direction: row">
            <label
                magic="Label4"
                class="Label4Props"
            >
                File:</label>
                <mat-form-field class="FileProps">
                    <div>
                        <input
                            matInput
                            magic="File"
                            formControlName="File"
                            pattern="^.{0,200}$"
                        >
                            <div *ngIf="(screenFormGroup.get('File').dirty) && (
screenFormGroup.get('File').hasError('pattern')
)">
                                <p>{{ mg.getErrMsg('File') }}</p>
                            </div>
                    </div>
                </mat-form-field>
        </div>
        <div style="display: flex; flex-direction: row">
            <button
                mat-raised-button
                color="primary"
                magic="Select Button_0001"
                class="Select Button_0001Props"
            >
                {{mg.getValue('Select Button_0001')}}
                </button>
        </div>
        <div style="display: flex; flex-direction: row">
            <button
                mat-raised-button
                color="primary"
                magic="Button7"
                class="Button7Props"
            >
                {{mg.getValue('Button7')}}
                </button>
        </div>
        </div>
        </form>