<form
  novalidate
  [formGroup]="screenFormGroup"
>
  <div
    magic="YourTravelRequests"
    class="YourTravelRequests "
  >
    <div class="cards-wrapper">

      <div *ngIf="mg.isImageExists('AddPlusImg')">
        <mat-card class="add-card">
          <button
            magic="AddPlusImg"
            class="BAdd"
            mat-fab>
            <mat-icon
              class="md-24"
              aria-label="Example icon-button with a heart icon">
              add
            </mat-icon>
          </button>
          <span>Add new package</span>
        </mat-card>
      </div>

      <div *ngFor="let row of task.Records.list">

        <div *ngIf="mg.ifRowCreated(row)" id="row">

          <form
            [formGroup]="mg.getFormGroupByRow(row.rowId)"
            class="mytable_table_rowProps"
            [ngClass]="{ 'selected': mg.isRowSelected('mytable', row.rowId)}"
          >
            <mat-card>
              <div
                magic="Column1048579"
              >

                <label
                  magic="DescriptionText"
                  [rowId]="row.rowId"
                  class="DescriptionTextProps "
                >
                  {{mg.getText('DescriptionText', row.rowId)}}
                </label>

                <div class="menu-wrapper">
                  <label mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </label>
                  <mat-menu #menu="matMenu">
    
                    <label magic="BEdit" [rowId]="row.rowId" mat-menu-item>
                      <mat-icon>edit</mat-icon>
                    <U>Edit</U>
                    </label>
    
                    <label magic="BDelete" [rowId]="row.rowId" mat-menu-item>
                      <mat-icon>delete</mat-icon>
                      <U>Delete</U>
                    
                    </label>
                  </mat-menu>
                </div>

                <div *ngIf="mg.isImageExists('backgroundImage')"
                     [ngStyle]="{'background-image':'url('+ mg.getImage('backgroundImage', row.rowId) + ')'}"
                >
                  <img
                    magic="backgroundImage"
                    [rowId]="row.rowId"
                    class="backgroundImage hidden_border  md-card-image"
                    [src]="mg.getImage('backgroundImage', row.rowId)"
                  />
                </div>

                <div class="details-wrapper">
                  <div class="flight-details">
                    <div *ngIf="mg.isImageExists('takeoff')">
                      <img
                        magic="takeoff"
                        [rowId]="row.rowId"
                        class="takeoff hidden_border"
                        [src]="mg.getImage('takeoff', row.rowId)"
                      />
                    </div>
                    <label
                      magic="DepartureDate"
                      [rowId]="row.rowId"
                      class="DepartureDate"
                    >
                      {{mg.getValue('DepartureDate', row.rowId)}}
                    </label>
                    &nbsp;&nbsp;&nbsp;
                    <div Class="flight-detailsLand" *ngIf="mg.isImageExists('Ellipse')">
                      <img
                        magic="Ellipse"
                        [rowId]="row.rowId"
                        class="Ellipse hidden_border"
                        [src]="mg.getImage('Ellipse', row.rowId)"
                      />

                      <div *ngIf="mg.isImageExists('land')">
                        <img
                          magic="land"
                          [rowId]="row.rowId"
                          class="land hidden_border"
                          [src]="mg.getImage('land', row.rowId)"
                        />

                        <label
                          magic="ArrivalDate"
                          [rowId]="row.rowId"
                          class="ArrivalDate"
                        >
                          {{mg.getValue('ArrivalDate', row.rowId)}}
                        </label>

                      </div>
                    </div>

                  </div>
                  <div class="icons-area">
                    <div *ngIf="mg.isImageExists('FlightImg')">
                      <img
                        magic="FlightImg"
                        [rowId]="row.rowId"
                        [style.display]="mg.getVisible('FlightImg', row.rowId) === 'hidden' ? 'none' : 'block'"
                        class="FlightImg hidden_border"
                        [src]="mg.getImage('FlightImg', row.rowId)"
                      />
                    </div>
                    <div *ngIf="mg.isImageExists('HotelImg')">
                      <img
                        magic="HotelImg"
                        [rowId]="row.rowId"
                        [style.display]="mg.getVisible('HotelImg', row.rowId) === 'hidden' ? 'none' : 'block'"
                        class="HotelImg hidden_border"
                        [src]="mg.getImage('HotelImg', row.rowId)"
                      />
                    </div>
                    <div *ngIf="mg.isImageExists('CarImg')">
                      <img
                        magic="CarImg"
                        [rowId]="row.rowId"
                        [style.display]="mg.getVisible('CarImg', row.rowId) === 'hidden' ? 'none' : 'block'"
                        class="CarImg hidden_border"
                        [src]="mg.getImage('CarImg', row.rowId)"
                      />
                    </div>
                    <div *ngIf="mg.isImageExists('RestoImg')">
                      <img
                        magic="RestoImg"
                        [rowId]="row.rowId"
                        [style.display]="mg.getVisible('RestoImg', row.rowId) === 'hidden' ? 'none' : 'block'"
                        class="RestoImg hidden_border"
                        [src]="mg.getImage('RestoImg', row.rowId)"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </mat-card>
          </form>
        </div>
      </div>
    </div>
  </div>
</form>
