/*this is a component css*/


.mytableProps {
    height: 330px;
    border: lightskyblue solid 1px;
}

.mytable_table_rowProps {}

.mytable_table_rowProps:hover {
    background-color: #EEEEEE;
}

.selected {
    background: #F5F5F5;
}


.mat-column-Column1048579 {}

.backgroundImageProps {}

label.DescriptionTextProps {
  color: white;
  position: absolute;
  /* border: 1px solid greenyellow; */
  padding: 10px;
  font-size: 20px;
  font-weight: 400;
}

.flight-detailsLand{
  display: flex;
  align-items: center;
}

.cards-wrapper form {}

.cards-wrapper {
  /* border: 7px solid yellowgreen; */

  display: inline-flex;
  width: 100%;
  flex-wrap: wrap;
  /*padding: 4% 10% 3% 10%;*/
  justify-content: left;
  height: 80%;
}

.cards-wrapper > div, .cards-wrapper > mat-card {
  width: 310px;
  /*!*!* border: 5px solid red; *!*!*/
  height: 328px;
  display: inline-flex;
  margin: 1%;
}

mat-card.mat-card, mat-card.add-card {
  padding: 0;
  width: 310px;
  height: 328px;
  background: white;
  overflow: hidden;
  /* margin-right: 50px; */
  min-width: 310px;
}


mat-card.add-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.details-wrapper {
  /* border: 1px solid red; */
  height: 144px;
  display: flex;
  flex-direction: column;
}



.flight-details {
  /* border: 2px solid yellowgreen; */
  flex: 2;
  display: flex;
  align-items: center;
  /*justify-content: space-evenly;*/
}

.icons-area {
  flex: 3;
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  padding-left: 20px;
}


img.takeoff, img.land
{
  padding-left: 20px;
}

.menu-wrapper {
  position: absolute;
  right: 6px;
  top: 3px;
  color: white;
}

.menu-wrapper.list-menu {
  color: darkgray;
}


.mat-menu-item a {
  text-decoration: none;
  color: gray;
  position: relative;
  top: 2px;
}


button.BAdd {
  /* flex: 1; */
  background-color: #037ab2 !important;
}


.add-card > span {
  display: block !important;
  color: #a3a3a6;
  margin-top: 20px;
  font-size: 22px;
}
