
/*this is a component css*/

label.TravelForLabel {
  color: white;
  height: 80px;
  display: flex;
  align-items: flex-end;
}


mga-yourtravel > form {
  height: 100%;
}


.main-content {
  /* border: 4px solid fuchsia; */
  flex: 1;
  width: 95%;
  display: flex;
  padding: 1%;
  /* MARGIN-TOP: 70px; */
  display: flex;
  flex-direction: column;
}

.main-menu {
  width: 100%;
  background-color: transparent;
}

.main-menu > .menugroup > a {
  font-family: Roboto;
  color: rgba(255, 255, 255, 0.9);
  font-size: 20px;/* Approximation due to font substitution */
  font-weight: 400;
  line-height: 75.368px;/* Approximation due to font substitution */
  text-align: center;
  text-decoration: none;
}

.main-menu .menugroup > * {
  margin-right: 80px;
}

.main-label {
  font-family: Roboto;
  color:  rgba(255, 255, 255, 0.85);
  font-size: 20px;/* Approximation due to font substitution */
  font-weight: 500;
  line-height: 75.368px;/* Approximation due to font substitution */
  text-align: center;
  /* flex-direction: column; */
  display: flex;

}

.menugroup {
  /* border: 4px solid white; */
  width: 100%;
  display: flex;
  /* background: white; */
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 10px 0px rgba(6, 20, 40, 0.91);
  /* width: 1920px; */
  height: 120px;
  justify-content: flex-start;
  align-items: center;
  padding-left: 50px;
  MIN-WIDTH: 1020px;
}
