<form
  novalidate
  [formGroup]="screenFormGroup"
>
  <div
    magic="YourTravel"
    class="YourTravel"
    [ngStyle]="{'background-image': 'url( ../../../../assets/images/Travel/BG.jpg)'}"
  >

    <div class="main-menu">
      <div
        magic="menugroup"
        class="menugroup"
      >
        <div *ngIf="mg.isImageExists('MainHome')">
          <img
            magic="MainHome"
            class="MainHomeProps"
            [src]="mg.getImage('MainHome')"
          />
        </div>
        <a
          href="javascript:;"
          magic="BPackages"
        >
          Packages</a>
        <a
          href="javascript:;"
          magic="BAirports"
        >
          Airports</a>
        <a
          href="javascript:;"
          magic="BHotels"
        >
          Hotels</a>
        <a
          href="javascript:;"
          magic="BCarRentals"
        >
          Car rentals</a>
        <a
          href="javascript:;"
          magic="BRestaurants"
        >
          Restaurants</a>
      </div>

    </div>

    <div class="main-content">
      <div>
        <div class="main-label">
          <label
            magic="TravelForLabel"
            class="TravelForLabel"
          >
            {{mg.getText('TravelForLabel')}}
          </label>
        </div>

        <div style="display: flex; flex-direction: row">
            <router-outlet
                magic="MainCanvas"
                class="MainCanvasProps"
            >
            </router-outlet>
        </div>
      </div>
    </div>
  </div>
</form>
