<form
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        magic="carInformation"
        class="carInformationProps mgColor14"
    >
        <div style="display: flex; flex-direction: row">
            <div *ngIf="mg.isImageExists('AddFlightImg')">
                <img
                    magic="AddFlightImg"
                    class="AddFlightImgProps mgColor14"
                    [src]="mg.getImage('AddFlightImg')"
                />
            </div>
            <label
                magic="SelectFlightL"
                class="SelectFlightLProps mgFont14 mgColor1"
                style="margin-top: 10px;"
            >
                Car Details</label>
        </div>
        <div style="display: flex; flex-direction: row">
            <div>
                <mat-form-field class="fromairportProps">
                    <mat-select
                        magic="fromairport"
                        class="fromairportProps"
                        formControlName="fromairport"
                    >
                        <mat-option
                            *ngFor="let o of mg.getItemListValues('fromairport');"
                            [value]="o.index"
                        >
                            {{o.displayValue}}
                            </mat-option>
                            </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div style="display: flex; flex-direction: row">
            <mat-form-field class="serviceAddressProps mgFont15 mgColor2 multiline">
                <div>
                    <textarea
                        matInput
                        magic="serviceAddress"
                        formControlName="serviceAddress"
                        pattern="^.{0,200}|m{0,200}$"
                    >
                        </textarea>
                        <div *ngIf="(screenFormGroup.get('serviceAddress').dirty) && (
screenFormGroup.get('serviceAddress').hasError('pattern')
)">
                            <p>{{ mg.getErrMsg('serviceAddress') }}</p>
                        </div>
                </div>
            </mat-form-field>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                magic="From"
                class="FromProps mgFont14 mgColor16"
            >
                From:</label>
                <label
                    magic="To"
                    class="ToProps mgFont14 mgColor16"
                    style="margin-left:150px;"
                >
                    To:</label>
        </div>
        <div style="display: flex; flex-direction: row">
            <mat-form-field class="carFromplaceProps mgFont15 mgColor2">
                <div>
                    <input
                        matInput
                        magic="carFromplace"
                        formControlName="carFromplace"
                        pattern="^.{0,100}$"
                    >
                        <div *ngIf="(screenFormGroup.get('carFromplace').dirty) && (
screenFormGroup.get('carFromplace').hasError('pattern')
)">
                            <p>{{ mg.getErrMsg('carFromplace') }}</p>
                        </div>
                </div>
            </mat-form-field>&nbsp;&nbsp;&nbsp;
            <mat-form-field class="carToplaceProps mgFont15 mgColor2">
                    <div>
                    <input
                        matInput
                        magic="carToplace"
                        formControlName="carToplace"
                        pattern="^.{0,100}$"
                    >
                        <div *ngIf="(screenFormGroup.get('carToplace').dirty) && (
screenFormGroup.get('carToplace').hasError('pattern')
)">
                            <p>{{ mg.getErrMsg('carToplace') }}</p>
                        </div>
                </div>
            </mat-form-field>
        </div>
        <div style="display: flex; flex-direction: row">
                
            <mat-form-field class="carServiceTypeProps mgFont15 mgColor2">
                    <label>Car Service Type:</label><br/><br/>
                <div>
                    <input
                        matInput
                        magic="carServiceType"
                        formControlName="carServiceType"
                        pattern="^.{0,100}$"
                    >
                        <div *ngIf="(screenFormGroup.get('carServiceType').dirty) && (
screenFormGroup.get('carServiceType').hasError('pattern')
)">
                            <p>{{ mg.getErrMsg('carServiceType') }}</p>
                        </div>
                </div>
            </mat-form-field>
        </div>
        <div style="display: flex; flex-direction: row">
            <mat-card
                magic="Grp1"
                class="Grp1Props mgColor22"
            >
                <div style="display: flex; flex-direction: row">
                    <label
                        magic="PickupL"
                        class="PickupLProps mgFont14 mgColor16"
                    >
                        Pickup:</label>
                </div>
                <div style="display: flex; flex-direction: row;">
                    <mat-form-field class="fromdateEditProps mgFont15 mgColor1 hidden_border" style="width:100px;">
                        <input
                            matInput
                            [matDatepicker]="fromdateEdit"
                            formControlName="fromdateEdit"
                            magic="fromdateEdit"
                            class="fromdateEditProps mgFont15 mgColor1 hidden_border"
                        >
                            <mat-datepicker-toggle
                                matSuffix
                                [for]="fromdateEdit"
                                *ngIf="mg.checkIsReadOnly('fromdateEdit')"
                            ></mat-datepicker-toggle>
                                <mat-datepicker #fromdateEdit></mat-datepicker>
                    </mat-form-field>
                </div>
                <div style="display: flex; flex-direction: row">
                    <mat-form-field class="fromdateTimeEditProps mgFont15 mgColor1 hidden_border" style="width:130px;">
                        <div>
                            <input
                                matInput
                                type='time'
                                step=1
                                magic="fromdateTimeEdit"
                                formControlName="fromdateTimeEdit"
                            >
                                <div *ngIf="(screenFormGroup.get('fromdateTimeEdit').dirty) && (
screenFormGroup.get('fromdateTimeEdit').hasError('pattern')
)">
                                    <p>{{ mg.getErrMsg('fromdateTimeEdit') }}</p>
                                </div>
                        </div>
                    </mat-form-field>
                </div>
                </mat-card>
                <mat-card
                    magic="Grp2"
                    class="Grp2Props mgColor22"
                >
                    <div style="display: flex; flex-direction: row">
                        <label
                            magic="ReturnL"
                            class="ReturnLProps mgFont14 mgColor16"
                        >
                            Return:</label>
                    </div>
                    <div style="display: flex; flex-direction: row">
                        <mat-form-field class="todateEditProps mgFont15 mgColor1 hidden_border" style="width:100px;">
                            <input
                                matInput
                                [matDatepicker]="todateEdit"
                                formControlName="todateEdit"
                                magic="todateEdit"
                                class="todateEditProps mgFont15 mgColor1 hidden_border"
                            >
                                <mat-datepicker-toggle
                                    matSuffix
                                    [for]="todateEdit"
                                    *ngIf="mg.checkIsReadOnly('todateEdit')"
                                ></mat-datepicker-toggle>
                                    <mat-datepicker #todateEdit></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div style="display: flex; flex-direction: row">
                        <mat-form-field class="todateTimeToProps mgFont15 mgColor1 hidden_border" style="width:130px;">
                            <div>
                                <input
                                    matInput
                                    type='time'
                                    step=1
                                    magic="todateTimeTo"
                                    formControlName="todateTimeTo"
                                >
                                    <div *ngIf="(screenFormGroup.get('todateTimeTo').dirty) && (
screenFormGroup.get('todateTimeTo').hasError('pattern')
)">
                                        <p>{{ mg.getErrMsg('todateTimeTo') }}</p>
                                    </div>
                            </div>
                        </mat-form-field>
                    </div>
                    </mat-card>
        </div><br/>
        <div style="display: flex; flex-direction: row">
            <mat-card
                magic="Grp3"
                class="Grp3Props mgColor22"
            >
                <div style="display: flex; flex-direction: row">
                    <div *ngIf="mg.isImageExists('imgPicture6')">
                        <img
                            magic="imgPicture6"
                            class="imgPicture6Props"
                            [src]="mg.getImage('imgPicture6')"
                        />
                    </div>
                </div>
                </mat-card>
                <mat-card
                    magic="Grp4"
                    class="Grp4Props mgColor22"
                   
                >
                    <div style="display: flex; flex-direction: row;">
                        <div *ngIf="mg.isImageExists('imgPicture7')">
                            <img
                                magic="imgPicture7"
                                class="imgPicture7Props"
                                [src]="mg.getImage('imgPicture7')"
                              
                            />
                        </div>
                    </div>
                    </mat-card>
        </div><br/>
        <div style="display: flex; flex-direction: row; margin-left: 200px;">
            <button
                mat-raised-button
                color="primary"
                magic="BSave"
                class="BSaveProps"
                [attr.disabled]="mg.isDisabled('BSave')"
            >
               OK</button>
        </div>
        </div>
        </form>