/*this is a component css*/

.carInformationProps {
    max-width: 38em;
    padding: 1em 3em 2em 3em;
    margin: -0.6em auto;
    background-color: #fff;
    border-radius: 4.2px;
    box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  
}

.AddFlightImgProps {}

.SelectFlightLProps {
    overflow: hidden;
    color:#3f51b5;
    font-display: fallback;
    font-weight: bold;
}

.fromairportProps {}

.serviceAddressProps {}

.FromProps {
    overflow: hidden;
}

.ToProps {
    overflow: hidden;
}

.carFromplaceProps {}

.carToplaceProps {}

.carServiceTypeProps {
    
    width: 200px;
}

.Grp1Props {
    border: lightskyblue solid 1px;
    box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
    border-radius: 4.2px;
}

.PickupLProps {
    overflow: hidden;
}

.fromdateEditProps {}

.fromdateTimeEditProps {}

.Grp2Props {
    border: lightskyblue solid 1px;
    margin-left: 20px;

}

.ReturnLProps {
    overflow: hidden;
}

.todateEditProps {}

.todateTimeToProps {}

.Grp3Props {
    border: lightskyblue solid 1px;
    width: 180px;
}

.imgPicture6Props {}

.Grp4Props {
    border: lightskyblue solid 1px;
    margin-left: 20px;
    width: 250px;
}

.imgPicture7Props {}

.BSaveProps {}