
<form
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column; margin-top:-12px;"
        magic="HotelInformation"
        class="HotelInformationProps mgColor14"
    >
        <div style="display: flex; flex-direction: row">
            <div *ngIf="mg.isImageExists('AddHotelImg')">
                <img
                    magic="AddHotelImg"
                    class="AddHotelImgProps mgColor14"
                    [src]="mg.getImage('AddHotelImg')"
                />
            </div> 
            <label
                magic="SelectFlightL"
                class="SelectFlightLProps mgFont14 mgColor1"
            style="margin-top: 10px;">
                Hotel Details</label>
        </div>
            <div style="display: flex; flex-direction: row;">
                   <label class="Hoteld">Hotel:</label>
        </div>
         <div style="display: flex; flex-direction: row;">
                        <mat-form-field>
                            <mat-select magic="HotelID" class="HotelIDProp" formControlName="HotelID">
                        <mat-option
                        *ngFor="let o of mg.getItemListValues('HotelID');"
                        [value]="o.index"
                    >
                        {{o.displayValue}}
                        </mat-option>
                             
                            </mat-select>
                        </mat-form-field>
      
                </div>
                             
                 <div style="display: flex; flex-direction: row;margin-bottom: 8px;">
            <label
                magic="serviceAddress"
                class="serviceAddressProps mgFont15 mgColor2 multiline"
            >
                {{mg.getValue('serviceAddress') }}
                </label>
        </div>
        
        <div style="display: flex; flex-direction: row">
            <label
                magic="CheckInL"
                class="CheckInLProps mgFont14 mgColor16"
            >
                Check-In:</label>
        </div>

        <div style="display: flex; flex-direction: row;font-size:16px">
                  
            <input
                [matDatepicker]="fromdateEdit"
                formControlName="fromdateEdit"
                magic="fromdateEdit"
                class="fromdateEditProps mgFont15 mgColor1 hidden_border"
            >
                <mat-datepicker-toggle
                    matSuffix
                    [for]="fromdateEdit"
                    *ngIf="mg.checkIsReadOnly('fromdateEdit')"
                ></mat-datepicker-toggle>
                    <mat-datepicker #fromdateEdit></mat-datepicker><input
                        type="time"
                        formControlName="fromtimeEdit"
                        magic="fromtimeEdit"
                        class="fromtimeEditProps mgFont15 mgColor1 hidden_border"
                        step=1
                    />
        </div>
		<br>
        
        
        
        <div style="display: flex; flex-direction: row">
            <label
                magic="CheckOutL"
                class="CheckOutLProps mgFont14 mgColor16"
            >
                Check-Out:</label>
        </div>
        <div style="display: flex; flex-direction: row">
            <input
                [matDatepicker]="todateEdit"
                formControlName="todateEdit"
                magic="todateEdit"
                class="todateEditProps mgFont15 mgColor1 hidden_border"
            >
                <mat-datepicker-toggle
                    matSuffix
                    [for]="todateEdit"
                    *ngIf="mg.checkIsReadOnly('todateEdit')"
                ></mat-datepicker-toggle>
                    <mat-datepicker #todateEdit></mat-datepicker><input
                        type="time"
                        formControlName="totimeEdit"
                        magic="totimeEdit"
                        class="totimeEditProps mgFont15 mgColor1 hidden_border"
                        step=1
                    />
        </div>
		
		<br>
        
        <div style="display: flex; flex-direction: row;margin-left:-10px;display:table">
        
            <magic-subform
                magic="imgSubform"
                class="imgSubformProps"
            >
                </magic-subform>
               
            </div>
       
        
		<br>
        <div style="display: flex; flex-direction: row;margin-left: 130px">
          
            <button
                mat-raised-button color="primary"
                magic="BSave"
                class="BSaveProps"
                [attr.disabled]="mg.isDisabled('BSave')"
            >
            <span style="color:white">OK</span></button>
        </div>
        
        </div>

        </form>

