/*this is a component css*/

.HotelInformationProps {
  max-width: 38em;
  padding: 1em 3em 2em 3em;
  margin: 0em auto;
  background-color: #fff;
  border-radius: 4.2px;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.AddHotelImgProps {}

.SelectFlightLProps {
       color:#3f51b5;
    font-display: fallback;
    font-weight: bold;
    overflow: hidden;
}
.Hoteld{
       color:#3f51b5;
    font-size: 18px;
}
.HotelIDProps {
    color:gray;
    font-size: 16px;
    
}

.serviceAddressProps {
     color:gray;
    font-size: 16px;
    
}

.CheckInLProps {
    color:#3f51b5;
    font-size: 18px;
    overflow: hidden;
}

.fromdateEditProps {
   padding: 10px;
 
   color:gray;
    font-size: 16px;
    width:85px;
    box-shadow: 2px 1px 1px 1px #888888;
}

.fromtimeEditProps {
    
   color:gray;
    font-size: 16px;
    width:110px;
    box-shadow: 2px 1px 1px 1px #888888;
}

.CheckOutLProps {
    color:#3f51b5;
    font-size: 18px;
    overflow: hidden;
}

.todateEditProps {
      padding: 10px;
  
   color:gray;
    font-size: 16px;
    width:85px;
    box-shadow: 2px 1px 1px 1px #888888;
}

.totimeEditProps {
 
   color:gray;
    font-size: 16px;
    width:110px;
    box-shadow: 2px 1px 1px 1px #888888;
}

.imgSubformProps {}

.BSaveProps {}



