<form
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        magic="HotelInformation"
        class="HotelInformationProps mgColor14"
    >
        <div style="display: flex; flex-direction: row">
            <div *ngIf="mg.isImageExists('AddHotelImg')">
                <img
                    magic="AddHotelImg"
                    class="AddHotelImgProps mgColor14"
                    [src]="mg.getImage('AddHotelImg')"
                />
            </div> 
            <label
                magic="SelectFlightL"
                class="SelectFlightLProps mgFont14 mgColor1"
            >
                Hotel Details</label>
        </div>
        <div style="display: flex; flex-direction: row">
            <div>
                <select
                    magic="HotelID"
                    class="HotelIDProps"
                    formControlName="HotelID"
                >
                    <option
                        *ngFor="let o of mg.getItemListValues('HotelID');"
                        [selected]="o.index == mg.getValue('HotelID')"
                        [value]="o.index"
                    >
                        {{o.displayValue}}
                        </option>
                        </select>
            </div>
        </div>
		<br>
        <div style="display: flex; flex-direction: row">
            <label
                magic="serviceAddress"
                class="serviceAddressProps mgFont15 mgColor2 multiline"
            >
                {{mg.getValue('serviceAddress') }}
                </label>
        </div>
		<br>
        <div style="display: flex; flex-direction: row">
            <label
                magic="CheckInL"
                class="CheckInLProps mgFont14 mgColor16"
            >
                Check-In:</label>
        </div>
        <div style="display: flex; flex-direction: row">
            <input
                [matDatepicker]="fromdateEdit"
                formControlName="fromdateEdit"
                magic="fromdateEdit"
                class="fromdateEditProps mgFont15 mgColor1 hidden_border"
            >
                <mat-datepicker-toggle
                    matSuffix
                    [for]="fromdateEdit"
                    *ngIf="mg.checkIsReadOnly('fromdateEdit')"
                ></mat-datepicker-toggle>
                    <mat-datepicker #fromdateEdit></mat-datepicker><input
                        type="time"
                        formControlName="fromtimeEdit"
                        magic="fromtimeEdit"
                        class="fromtimeEditProps mgFont15 mgColor1 hidden_border"
                        step=1
                    />
        </div>
		<br>
        <div style="display: flex; flex-direction: row">
            <label
                magic="CheckOutL"
                class="CheckOutLProps mgFont14 mgColor16"
            >
                Check-Out:</label>
        </div>
        <div style="display: flex; flex-direction: row">
            <input
                [matDatepicker]="todateEdit"
                formControlName="todateEdit"
                magic="todateEdit"
                class="todateEditProps mgFont15 mgColor1 hidden_border"
            >
                <mat-datepicker-toggle
                    matSuffix
                    [for]="todateEdit"
                    *ngIf="mg.checkIsReadOnly('todateEdit')"
                ></mat-datepicker-toggle>
                    <mat-datepicker #todateEdit></mat-datepicker><input
                        type="time"
                        formControlName="totimeEdit"
                        magic="totimeEdit"
                        class="totimeEditProps mgFont15 mgColor1 hidden_border"
                        step=1
                    />
        </div>
		
		<br>
        <div style="display: flex; flex-direction: row">
            <magic-subform
                magic="imgSubform"
                class="imgSubformProps"
            >
                </magic-subform>
        </div>
		
		<br>
        <div style="display: flex; flex-direction: row">
            <button
                magic="BSave"
                class="BSaveProps"
                [attr.disabled]="mg.isDisabled('BSave')"
            >
                Ok</button>
        </div>
        </div>
        </form>