/*this is a component css*/

.HotelInformationProps {}

.AddHotelImgProps {}

.SelectFlightLProps {
    overflow: hidden;
}

.HotelIDProps {}

.serviceAddressProps {}

.CheckInLProps {
    overflow: hidden;
}

.fromdateEditProps {}

.fromtimeEditProps {}

.CheckOutLProps {
    overflow: hidden;
}

.todateEditProps {}

.totimeEditProps {}

.imgSubformProps {}

.BSaveProps {}